  table {
    border: thick double rgb(0, 0, 0);
  }
    
  th {  
    font-size: 24px;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 2px 4px;
  }

  td {
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
  }
  
  tfoot {
    color: gray;
  }
  
  tfoot th {
    font-weight: normal;
  }
  
  div.canSort {
    cursor: pointer;
  }
  
  .content {
    padding-left: 10px;
  }
  .filter {
    margin-bottom: 10px;
  }
  .filterinput {
    margin: 5px;
  }
  .page {
    display: flex;
  }